@page "/"
@using MediaHelper.Blazor.App.Services
@using MediaHelper.Model
@using Series = SonarrSharp.Models.Series
@inject ApiClient Client

@if (Series == null)
{
    <p>Loading...</p>
}
else
{
    <SeriesNavigation ClassName="new-downloaded" Text="Recently downloaded"></SeriesNavigation>
    
    <div class="new-downloaded-carousel ">
        <ListSeriesThumbnail BaseUrl="http://localhost:8989" Series="@(RecentlyDownloaded)" UseFlexContainer="@(false)"></ListSeriesThumbnail>
    </div>

    <SeriesNavigation ClassName="last-seen" Text="Last seen"></SeriesNavigation>

    <div class="last-seen-carousel ">
        <ListSeriesThumbnail BaseUrl="http://localhost:8989" Series="@(LastSeen)" UseFlexContainer="@(false)"></ListSeriesThumbnail>
    </div>

    <h3 class="center-align">Browse</h3>
    <ListSeriesThumbnail BaseUrl="http://localhost:8989" Series="@(Series)" UseFlexContainer="@(true)"></ListSeriesThumbnail>
    
    
    <div class="bottom">
    </div>
}



@functions
{

    private Series[] Series { get; set; }
    private Series[] LastSeen { get; set; }
    private Series[] RecentlyDownloaded { get; set; }


    protected override async Task OnInitAsync()
    {
        Series = await Client.Series.GetAll();
        RecentlyDownloaded = await Client.History.GetDownloadHistory();
        LastSeen = await Client.History.LatestWatchedSeries();

        StateHasChanged();
        await JSRuntime.Current.InvokeAsync<object>("initBrowser");
    }
}

